[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Markup Language Support
Comment[es]=Implementación de lenguaje de marcado
Comment[et]=Märkekeele toetus
Comment[hu]=Jelölő nyelv támogatás
Comment[nl]=Ondersteuning voor Markup Language
Comment[pt]=Suporte a Linguagens de Marcação
Comment[pt_BR]=Suporte à linguagem de marcação
Comment[uk]=Підтримка мов розмітки
Comment[x-test]=xxMarkup Language Supportxx
Name=KDevSgmlSupport
Name[es]=KDevSgmlSupport
Name[et]=KDevSgmlSupport
Name[hu]=KDevSgmlSupport
Name[nl]=KDevSgmlSupport
Name[pt]=KDevSgmlSupport
Name[pt_BR]=KDevSgmlSupport
Name[sk]=KDevSgmlSupport
Name[uk]=KDevSgmlSupport
Name[x-test]=xxKDevSgmlSupportxx
GenericName=Markup Language Support
GenericName[es]=Implementación de lenguaje de marcado
GenericName[et]=Märkekeele toetus
GenericName[hu]=Jelölő nyelv támogatás
GenericName[nl]=Ondersteuning voor Markup Language
GenericName[pt]=Suporte a Linguagens de Marcação
GenericName[pt_BR]=Suporte à linguagem de marcação
GenericName[uk]=Підтримка мов розмітки
GenericName[x-test]=xxMarkup Language Supportxx
ServiceTypes=KDevelop/Plugin
Icon=source
X-KDE-Library=kdevsgmllanguagesupport
X-KDevelop-Version=15
X-KDevelop-Language=Sgml
X-KDevelop-Args=Sgml
X-KDevelop-Interfaces=ILanguageSupport
X-KDevelop-SupportedMimeTypes=text/html,application/xml-dtd,application/docbook+xml,application/xhtml+xml,text/xml,application/xml,application/xslt+xml,application/xsd,application/wsdl+xml,application/x-wsdl
X-KDE-PluginInfo-Name=KDevSgmlSupport
X-KDevelop-Mode=NoGUI
X-KDevelop-LoadMode=AlwaysOn

