[Desktop Entry]
Type=Service
Exec=blubb
Icon=text-xml
Name=XML Validator
Name[cs]=XML validátor
Name[de]=XML-Überprüfung
Name[es]=Validador XML
Name[et]=XML-i validaator
Name[ga]=Bailíochtóir XML
Name[hu]=XML ellenőrző
Name[it]=Convalidatore per XML
Name[nl]=XML-validator
Name[pt]=Validação de XML
Name[pt_BR]=Validação de XML
Name[sk]=Validátor XML
Name[sv]=XML-validering
Name[uk]=Перевірка XML
Name[x-test]=xxXML Validatorxx
GenericName=XML Validator
GenericName[cs]=XML validátor
GenericName[de]=XML-Überprüfung
GenericName[es]=Validador XML
GenericName[et]=XML-i validaator
GenericName[ga]=Bailíochtóir XML
GenericName[hu]=XML ellenőrző
GenericName[it]=Convalidatore per XML
GenericName[nl]=XML-validator
GenericName[pt]=Validação de XML
GenericName[pt_BR]=Validação de XML
GenericName[sk]=Validátor XML
GenericName[sv]=XML-validering
GenericName[uk]=Перевірка XML
GenericName[x-test]=xxXML Validatorxx
Comment=Validates XML files against a DTD or schema
Comment[de]=Überprüft XML-Dateien mit einer DTD oder einem Schema
Comment[es]=Valida archivos XML usando una DTD o un esquema
Comment[et]=XML-failide süntaksi kontrollimine DTD või skeemi abil
Comment[hu]=XML fájlok ellenőrzése a DTD vagy séma ellenében
Comment[it]=Convalida dei file XML nei confronti di un DTD o schema
Comment[nl]=Valideert XML-bestanden tegen een DTD of schema
Comment[pt]=Valida os ficheiros XML face a um DTD ou esquema
Comment[pt_BR]=Valida os arquivos XML face a um DTD ou esquema
Comment[sk]=Validuje XML súbory proti DTD schéme
Comment[sv]=Validerar XML-filer med en DTD eller ett schema
Comment[uk]=Виконує перевірку файлів XML за DTD або вказаною схемою (schema)
Comment[x-test]=xxValidates XML files against a DTD or schemaxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevxmlvalidator
X-KDevelop-Version=15
X-KDE-PluginInfo-Name=kdevxmlvalidator
X-KDE-PluginInfo-Author=Ruan Strydom
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDevelop-Category=Global
X-KDevelop-SupportedMimeTypes=text/xml,application/xml,application/xsd, application/xsd+xml, application/xslt+xml, application/x-wsdl, application/wsdl+xml
X-KDevelop-Mode=NoGUI
