[Desktop Entry]
Type=Service
Exec=blubb
Icon=text-xml
Name=XML Document Tree
Name[cs]=Strom dokumentu XML
Name[de]=XML-Dokumentbaum
Name[es]=Árbol de documento XML
Name[et]=XML-i dokumendipuu
Name[fr]=Arbre de documents XML
Name[hu]=XML dokumentumfa
Name[it]=Albero documento XML
Name[nl]=XML-documentboomstructuur
Name[pt]=Árvore do Documento em XML
Name[pt_BR]=Árvore do documento XML
Name[sk]=Strom dokumentu XML
Name[sv]=XML-dokumentträd
Name[uk]=Ієрархія документа XML
Name[x-test]=xxXML Document Treexx
GenericName=XML Document Tree
GenericName[cs]=Strom dokumentu XML
GenericName[de]=XML-Dokumentbaum
GenericName[es]=Árbol de documento XML
GenericName[et]=XML-i dokumendipuu
GenericName[fr]=Arbre de documents XML
GenericName[hu]=XML dokumentumfa
GenericName[it]=Albero documento XML
GenericName[nl]=XML-documentboomstructuur
GenericName[pt]=Árvore do Documento em XML
GenericName[pt_BR]=Árvore do documento XML
GenericName[sk]=Strom dokumentu XML
GenericName[sv]=XML-dokumentträd
GenericName[uk]=Ієрархія документа XML
GenericName[x-test]=xxXML Document Treexx
Comment=Displays the XML structure as a tree
Comment[de]=Zeigt die XML-Struktur als Baum an
Comment[es]=Muestra la estructura XML como un árbol
Comment[et]=XML-i struktuuri esitamine puuna
Comment[fr]=Affiche la structure XML sous la forme d'un arbre
Comment[gl]=Mostra a estrutura do XML como unha árbore
Comment[hu]=Megjeleníti az XML szerkezet faként
Comment[it]=Visualizza la struttura XML come un albero
Comment[nl]=Toont de XML-structuur als een boom
Comment[pt]=Mostra a estrutura do XML como uma árvore
Comment[pt_BR]=Mostra a estrutura do XML como uma árvore
Comment[sk]=Zobrazí XML štruktúru ako strom
Comment[sv]=Visar XML-strukturen som ett träd
Comment[uk]=Показує деревоподібну структуру XML
Comment[x-test]=xxDisplays the XML structure as a treexx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevxmldocument
X-KDE-PluginInfo-Name=kdevxmldocument
X-KDE-PluginInfo-Author=Ruan Strydom
X-KDE-PluginInfo-License=LGPL
X-KDevelop-Version=15
X-KDE-PluginInfo-Version=0.1
X-KDevelop-Language=XML
X-KDevelop-Category=Global
X-KDevelop-SupportedMimeTypes=application/xml,application/xslt+xml,application/xsd,application/wsdl+xml,application/x-wsdl
X-KDevelop-Mode=GUI
