[Desktop Entry]
Type=Service
Exec=blubb
Icon=text-xml
Name=SGML Formatter
Name[de]=SGML-Formatierer
Name[es]=Formateador SGML
Name[et]=SGML-i vormindaja
Name[hu]=SGML formázó
Name[it]=Formattatore SGML
Name[nl]=SGML-formatteerprogramma
Name[pt]=Formatação de SGML
Name[pt_BR]=Formatação de SGML
Name[sv]=SGML-formatering
Name[uk]=Форматування SGML
Name[x-test]=xxSGML Formatterxx
GenericName=XML Formatter
GenericName[cs]=Formátovač XML
GenericName[de]=XML-Formatierer
GenericName[es]=Formateador XML
GenericName[et]=XML-i vormindaja
GenericName[hu]=XML formázó
GenericName[it]=Formattatore XML
GenericName[nl]=XML-formatteerprogramma
GenericName[pt]=Formatação de SGML
GenericName[pt_BR]=Formatação de XML
GenericName[sv]=XML-formatering
GenericName[uk]=Форматування XML
GenericName[x-test]=xxXML Formatterxx
Comment=A plugin for formatting XML files
Comment[de]=Ein Modul zum Formatieren von XML-Dateien
Comment[es]=Un complemento para formatear archivos XML
Comment[et]=XML-failide vormindamise plugin
Comment[hu]=Egy bővítmény XML fájlok formázásához
Comment[it]=Un'estensione per la formattazione di file XML
Comment[nl]=Een plugin voor het formatteren van XML-bestanden
Comment[pt]=Um 'plugin' para formatar ficheiros em XML
Comment[pt_BR]=Um plugin para formatar os arquivos em XML
Comment[sv]=Ett insticksprogram för att formatera XML-filer
Comment[uk]=Додаток для форматування файлів XML
Comment[x-test]=xxA plugin for formatting XML filesxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevsgmlformatter
X-KDevelop-Version=15
X-KDE-PluginInfo-Name=sgmlformatter
X-KDE-PluginInfo-Author=Ruan Strydom
X-KDE-PluginInfo-License=LGPL
X-KDevelop-Category=Global
X-KDevelop-Language=Sgml
X-KDevelop-Interfaces=org.kdevelop.ISourceFormatter
X-KDevelop-SupportedMimeTypes=text/html,application/docbook+xml,application/xhtml+xml,application/xml,application/xslt+xml,application/xsd,application/wsdl+xml,application/x-wsdl
X-KDevelop-Mode=NoGUI
X-KDevelop-LoadMode=AlwaysOn
